/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter);
  font-variation-settings: 'wght' 400;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed; /* Фиксирует фон при прокрутке */
  background-repeat: no-repeat; /* Убирает повторение градиентов */
  background-position: center; /* Центрирует фон */
  padding: 100px 0;
}

.cards-block {
  display: grid;
  gap: 50px;
}

.width {
  width: clamp(375px, 80%, 700px);/*не уверена ччто я тут правильнонаписала*/
  
  margin: 0 auto; /* Центрируем блок на странице */
}

.header {
  background-color: var(--bakground-color);
  /* display: flex; */
  /* justify-content: center; */
  /* justify-self: center;
  align-items: center; */
  /*align-self*/
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  margin-block-end: 100px;
}

.logo-group {
  padding: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem) 0;
  display: grid;
  gap: 20px;
  justify-content: center;
}

.header-logo {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  /* justify-self: center; */
  font-size: var(--logo-font-size, 1.5vw);
  text-align: center;
  /* font-size: clamp(49px, 4.5vw, 65px); */
  /* font-size: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem); */
  /* font-size: clamp(49px, calc(30,538461538px + 30,538461538px * 100vw), 65px); */
  /* font-size: 65px; */
  /* line-height: 65px; */
  text-transform: uppercase;
  color: var(--main-color);
  /* identical to box height */
  /* display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #000000; */
}


.header-text {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);;
  /* font-size: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);  */
  /* font-size: 23px; */
  /* line-height: 65px; */
  text-transform: uppercase;
  color: var(--main-color);
  justify-self: center;
}

.conteiner {
  display: grid;
  gap: 50px;
}

.section-title {
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  background-color: var(--bakground-color);
  font-style: normal;
  font-variation-settings: 'wght' 715;
  /* font-weight: 715; */
  font-size: 18px;
  line-height: 22px;
  color: var(--main-color);
  padding: 4px 10px;
}

.conteiner_img-text {
  position: relative;
}

.section_decoration {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px -1px 0 var(--text-stroke-color),
     1px -1px 0 var(--text-stroke-color),
    -1px  1px 0 var(--text-stroke-color),
     1px  1px 0 var(--text-stroke-color);
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .section_decoration {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
} 

.section_img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
}

.filter_prepare {
  filter: drop-shadow(30px 6px 13px rgba(0, 0, 0, 0.8));
}

.filter_clean-page {
  filter: contrast(120%) brightness(150%);
}

.filter_cry {
  filter: saturate(158%);
}

.filter_ideal {
  filter: saturate(200%);
}

.filter_near {
  filter: sepia(60%);
}

.filter_strategy {
  filter: hue-rotate(-60deg);
}

.filter_hands-down {
  filter: opacity(0.6);
}

.filter_now {
  filter: contrast(120%) grayscale(0.8);
}

.section_block-text {
  border: 2px solid var(--main-color);
  background-color: var(--bakground-color);
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-text {
  font-style: normal;
  font-variation-settings: 'wght' 410;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
}

.button_like {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  /* max-block-size: 38px; */
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

.card__like-button {
  padding: 12.5px 37px;
  box-sizing: border-box;
  background: var(--bakground-color);
  border: 2px solid var(--main-color);
  text-align: center;
  cursor: pointer;
}

/* .button-effect {
  overflow: hidden;
}

.button-effect::after {
  content: "";
  transition: 0.5s ease-in-out;
  transform: scale(0);
  background-color: #ff9800;

  transform-origin: left center; 
  transform: scaleX(0);         
  transition: transform 0.4s ease-out; 
  z-index: -1; 

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-effect:hover::after {
  transform: scale(1);
} */

.button-effect {
  position: relative;
  overflow: hidden;
}

.button-effect::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  background-color: var(--main-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-effect:hover::after {
  transform: translateX(0);
}

.button-effect:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--main-color);
  /* filter: drop-shadow(2px 2px 0px var(--main-color)); */
}

.button-effect:focus-visible {
  box-shadow: 2px 2px 0px var(--main-color);
  transition: 0.3s ease;
}

.button__text {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  /* identical to box height, or 13px */
  /* color: var(--main-color); */

  color: var(--changing-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  /* transition: color 0.3s easy; */
}

.block_button-save {
  display: flex;
  justify-content: center;
}

.button-save {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 3.5px;
  padding: 17px 20px;
  box-sizing: border-box;
  background: var(--bakground-color);
  border: 2px solid var(--main-color);
  text-align: center;
  cursor: pointer;
  max-inline-size: 335px;
  color: var(--changing-color);
  /* max-block-size: 55px; */
}

/* .button-save svg {
  fill: currentColor;

  z-index: 2;
  mix-blend-mode: difference;
} */

.discett-save {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.dialog {
  padding: 30px;
  border: 2px solid var(--main-color);
  background-color: var(--bakground-color);
  max-inline-size: 357px;
  inline-size: 100%;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  /* background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px); */
  background: var(--main-color);
  opacity: 75%;
} 

.dialog_content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
}

.discett-dialog {
  width: 39px;
  height: 39px;
}

/* .button svg {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
} */

.dialog-text {
  padding-left: 20px;
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* color: var(--main-color); */
  text-transform: uppercase;

  color: var(--changing-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  /* transition: color 0.3s easy; */
}

/* .discett-dialog {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
} */

.button__dialog {
  grid-column: 1/-1;
  padding: 12.5px 132.5px;
  box-sizing: border-box;
  background: var(--bakground-color);
  border: 2px solid var(--main-color);
  text-align: center;
  cursor: pointer;
  margin-block-start: 30px;
}

.button__dialog-text {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  /* identical to box height, or 13px */
  /* color: var(--main-color); */
  color: var(--changing-color);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  /* transition: color 0.3s easy; */
}

@media (width <= 375px) {
  .dialog {
    max-width: 341px;
    padding: 30px 40px;
  }

  .button-save {
    flex-direction: column;
  }

  .button-save svg {
    block-size: 2em;
  }
}




