/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter);
  font-variation-settings: 'wght' 400;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed; /* Фиксирует фон при прокрутке */
  background-repeat: no-repeat; /* Убирает повторение градиентов */
  background-position: center; /* Центрирует фон */
  padding: 100px 0;
}

.width {
  width: clamp(375px, 80%, 700px);/*не уверена ччто я тут правильнонаписала*/
  
  margin: 0 auto; /* Центрируем блок на странице */
}

.header {
  background-color: var(--bakground-color);
  /* display: flex; */
  /* justify-content: center; */
  /* justify-self: center;
  align-items: center; */
  /*align-self*/
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  margin-block-end: 100px;
}

.logo-group {
  padding: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem) 0;
  display: grid;
  gap: 20px;
  justify-content: center;
}

.header-logo {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  justify-self: center; 
  font-size: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);
  /* font-size: clamp(49px, 4.5vw, 65px); */
  /* font-size: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem); */
  /* font-size: clamp(49px, calc(30,538461538px + 30,538461538px * 100vw), 65px); */
  /* font-size: 65px; */
  /* line-height: 65px; */
  text-transform: uppercase;
  color: var(--main-color);
  /* identical to box height */
  /* display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #000000; */
}


.header-text {
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.67vw, 23px);
  /* font-size: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);  */
  /* font-size: 23px; */
  /* line-height: 65px; */
  text-transform: uppercase;
  color: var(--main-color);
  justify-self: center;
}

.conteiner {
  display: grid;
  gap: 50px;
}
.section {}

.section-title {
  box-sizing: border-box;
  border: 2px solid var(--main-color);
  background-color: var(--bakground-color);
  font-style: normal;
  font-variation-settings: 'wght' 715;
  /* font-weight: 715; */
  font-size: 18px;
  line-height: 22px;
  color: var(--main-color);
}

.conteiner_img-text{}

.section_decoration {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-press), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px -1px 0 var(--text-stroke-color),
     1px -1px 0 var(--text-stroke-color),
    -1px  1px 0 var(--text-stroke-color),
     1px  1px 0 var(--text-stroke-color);
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .section_decoration {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
} 

.section_img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

.section_block-text {
  border: 2px solid var(--main-color);
  background-color: var(--bakground-color);
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-text {
  font-style: normal;
  font-variation-settings: 'wght' 410;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
}

.button_like {
  align-self: flex-end;
}